.accounts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;

  > div {
    display: flex;
    flex-direction: column;
  }

  app-account-card {
    display: flex;
    flex-direction: column;
    flex: 1;

    ::ng-deep .account-card {
      flex: 1;
    }
  }
}
